# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# ENV keys
.env

# OS files
.DS_Store
Thumbs.db

# Checkpoints
**/.ipynb_checkpoints/

# Ignore only 'data' folders inside notebooks
# notebooks/**/data/

# Ignore PDFs + docs
*.pdf
*.docx